
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>连接监控</title>
    <link href="../../css/bootstrap4/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container" id="app">
        <div class="pt-md-3">
            <h4>连接模拟：</h4>
            <div>
                <a href="/ClientMonitors/manage/clientTree.html" target="_blank">查看视图</a>
            </div>
            <div>
                <form>
                    <div class="form-row">
                        <div class="col">
                            <!--<label for="scopeId">ScopeId</label>-->
                            <input type="text" class="form-control" v-model="current.scopeId" id="scopeId" placeholder="ScopeId">
                        </div>
                        <div class="col">
                            <!--<label for="ClientId">ClientId</label>-->
                            <input type="text" class="form-control" v-model="current.clientId" id="ClientId" placeholder="ClientId">
                        </div>
                        <!--<div class="col">
                            <input type="text" class="form-control" v-model="current.userId" id="UserId" placeholder="UserId">
                        </div>-->
                        <button type="button" @click="mockConnect" class="btn btn-primary pull-right">进行连接</button>
                    </div>

                </form>
            </div>
        </div>
        <hr />
        <div>
            <form class="form-inline">
                <div class="form-group col-md-9">
                    <h4>
                        <span>连接列表：</span>
                        <button disabled type="button" class="btn btn-info">{{filterObj.scopeId}}在线人数：{{computedConnections.filter(item=>item.connectionId).length}}</button>
                        <button disabled type="button" class="btn btn-info">{{filterObj.scopeId}}总人数：{{computedConnections.length}}</button>
                        <button disabled type="button" class="btn btn-info">在线人数：{{connectionObj.onlineCount}}</button>
                        <button disabled type="button" class="btn btn-info">总人数：{{connectionObj.totalCount}}</button>
                    </h4>
                </div>
                <div class="form-group col-md-3">
                    <label>scope选择：</label>
                    <select class="form-control" id="exampleFormControlSelect1" v-model="filterObj.scopeId" @change="onChangeScopeId(filterObj.scopeId)">
                        <option value="">全部</option>
                        <option :value="scope" v-for="scope in scopes">{{scope}}</option>
                    </select>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">scopeId </th>
                        <th scope="col">clientId</th>
                        <th scope="col">connectionId</th>
                        <th scope="col">最新连接时间</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in computedConnections" :key="item.id">
                        <th scope="row">{{item.scopeId}}</th>
                        <td>{{item.clientId}}</td>
                        <!--<td>{{item.groups}}</td>-->
                        <td>{{item.connectionId || "null"}}</td>
                        <td>{{item.lastUpdateAt | formatDate }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" @click="gotoScope(item.scopeId)">进入scope</button>
                            <!--<button type="button" class="btn btn-danger" @click="resetScope(item.scopeId)">重置</button>
                            <button type="button" class="btn btn-primary" @click="updateScope(item.scopeId)">刷新</button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button @click="autoAddClient" class="btn btn-primary btn-lg">增加连接</button>
            </div>
        </div>
    </div>
    <script src="/lib/vue.js" type="text/javascript"></script>
    <script src="/lib/signalr.js" type="text/javascript"></script>
    <script>
        var connection;
        var app = new Vue({
            el: '#app',
            data: {
                scopeContexts:[],
                connectionObj: {
                    connections: [],
                    offlineCount: 0,
                    onlineCount: 0,
                    totalCount: 3
                },
                current: {
                    scopeId: '',
                    clientId: '',
                    userId: ''
                },
                filterObj: {
                    scopeId: ''
                }
            },
            methods: {
                connectionHub: function (scopeId, clientId, userId) {
                    let _this = this;
                    let hubName = "DemoHub";
                    let connectionHub = new signalR.HubConnectionBuilder()
                        .withUrl('/' + hubName + '?scopeId=' + scopeId + '&clientId=' + clientId + '&userId=' + userId)
                        .build();
                    console.log("connectionHub:");
                    console.log(connectionHub);
                    let updateConnections = "updateConnections";
                    connectionHub.on(updateConnections, function (theArgs) {
                        _this.updateConnections(theArgs);
                        console.log(theArgs);
                    });
                    connectionHub.start()
                        .then(function () {
                            console.log("与服务器连接成功");
                        })
                        .catch(error => {
                            console.error(error.message);
                        });
                },
                updateConnections: function (args) {
                    this.connectionObj = args;
                    //this.connectionObj.connections.sort(function (a, b) {
                    //    console.log(a.createAt > b.createAt);
                    //    return a.createAt > b.createAt;
                    //})
                },

                mockConnect: function () {
                    var scopeId = this.current.scopeId;
                    var clientId = this.current.clientId;
                    var userId = this.current.userId;
                    this.current = { ...this.current, scopeId: '', clientId: '', userId: '' }
                    window.open('/ClientMonitors/manage/mock_client.html?scopeId=' + scopeId + '&clientId=' + clientId);
                },
                gotoScope: function (scopeId) {
                    window.open('/ClientMonitors/manage/mock_scope.html?scopeId=' + scopeId);
                },
                onChangeScopeId: function (value) {
                    console.log(value);
                },
                autoAddClient: function () {
                    let scopeId = this.filterObj.scopeId || 'monitor';
                    let connections = this.connectionObj.connections.filter(item => item.scopeId === scopeId);
                    let number = connections.length;
                    while (connections.filter(item => item.clientId === "c" + number).length > 0) {
                        number++;
                    };
                    let clientId = "c" + number;
                    window.open('/ClientMonitors/manage/mock_client.html?scopeId=' + scopeId + '&clientId=' + clientId, "", "width=400, height=250, top=800, left=1500");
                }
            },
            created() {
                var scopeId = "monitor";
                var clientId = "mock_monitor";
                this.connectionHub(scopeId, clientId);
            },
            computed: {
                scopes: function () {
                    let scopes = this.connectionObj.connections.map(function (item) {
                        return item["scopeId"];
                    });
                    //去重
                    return [...new Set(scopes)];
                },
                computedConnections: function () {
                    if (!this.filterObj.scopeId) {
                        return this.connectionObj.connections;
                    }
                    return this.connectionObj.connections.filter(item => item.scopeId == this.filterObj.scopeId);
                }
            },
            filters: {
                scopeFilter(connections, filterObj) {
                    for (var key in filterObj) {
                        console.log(key);
                    }
                    return connections.filters(item => item.scopeId);
                },
                formatDate(time) {
                    let date = new Date(time);
                    return formatDate(date, 'yyyy-MM-dd hh:mm')
                }
            }
        });

        function formatDate(date, fmt) {
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (date.getFullYear() + '').substr(4 - RegExp.$1.length))
            }
            let o = {
                'M+': date.getMonth() + 1,
                'd+': date.getDate(),
                'h+': date.getHours(),
                'm+': date.getMinutes(),
                's+': date.getSeconds()
            }
            for (let k in o) {
                if (new RegExp(`(${k})`).test(fmt)) {
                    let str = o[k] + ''
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? str : padLeftZero(str))
                }
            }
            return fmt
        }
        function padLeftZero(str) {
            return ('00' + str).substr(str.length)
        }
    </script>
</body>
</html>


