
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>scope管理</title>
    <link href="../../css/bootstrap4/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container" id="app">
        <div class="pt-md-3">
            <h4>连接模拟：</h4>
            <div>
                <a href="./clientTree.html" target="_blank">连接图</a>
            </div>
            <div>
                <form>
                    <div class="form-row">
                        <div class="col">
                            <!--<label for="scopeId">ScopeId</label>-->
                            <input type="text" class="form-control" v-model="current.scopeId" id="scopeId" placeholder="ScopeId">
                        </div>
                        <div class="col">
                            <!--<label for="ClientId">ClientId</label>-->
                            <input type="text" class="form-control" v-model="current.clientId" id="ClientId" placeholder="ClientId">
                        </div>
                        <!--<div class="col">
                            <input type="text" class="form-control" v-model="current.userId" id="UserId" placeholder="UserId">
                        </div>-->
                        <button type="button" @click="mockConnect" class="btn btn-primary pull-right">进行连接</button>
                    </div>

                </form>
            </div>
        </div>
        <hr />
        <div>
            <form class="form-inline">
                <div class="form-group col-md-9">
                    <h4>
                        <span>连接列表：</span>
                        <button disabled type="button" class="btn btn-info">{{filterObj.scopeId}}在线人数：{{computedConnections.filter(item=>item.connectionId).length}}</button>
                        <button disabled type="button" class="btn btn-info">{{filterObj.scopeId}}总人数：{{computedConnections.length}}</button>
                        <button disabled type="button" class="btn btn-info">在线人数：{{connectionObj.onlineCount}}</button>
                        <button disabled type="button" class="btn btn-info">总人数：{{connectionObj.totalCount}}</button>
                    </h4>
                </div>
                <div class="form-group col-md-3">
                    <label>scope选择：</label>
                    <select class="form-control" id="exampleFormControlSelect1" v-model="filterObj.scopeId" @change="onChangeScopeId(filterObj.scopeId)">
                        <option value="">全部</option>
                        <option :value="scope" v-for="scope in scopes">{{scope}}</option>
                    </select>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">scopeId </th>
                        <th scope="col">clientId</th>
                        <th scope="col">connectionId</th>
                        <th scope="col">最新连接时间</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in computedConnections" :key="item.id">
                        <th scope="row">{{item.scopeId}}</th>
                        <td>{{item.clientId}}</td>
                        <!--<td>{{item.groups}}</td>-->
                        <td>{{item.connectionId || "null"}}</td>
                        <td>{{item.lastUpdateAt | formatDate }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" @click="resetScope(item.scopeId)">踢除</button>
                            <!--<button type="button" class="btn btn-danger" @click="resetScope(item.scopeId)">重置</button>
                            <button type="button" class="btn btn-primary" @click="updateScope(item.scopeId)">刷新</button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
        <div>
            <ul class="list-group">
                <li class="list-group-item" v-for="scope in scopeContexts" :key="scope.scopeId">
                    {{scope.scopeId}}
                    <span class="badge badge-primary badge-pill" v-if="scope.bags.Connections">{{scope.bags.Connections.length}}</span>
                    <span class="badge badge-primary badge-pill" v-else>0</span>
                    <button class="btn btn-danger" @click="resetScope(scope.scopeId)">reset</button>
                    <button class="btn btn-primary" @click="updateScope(scope.scopeId)">update</button>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="client in scope.bags.Connections" :key="client.clientId">{{client.clientId}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script src="/lib/vue.js" type="text/javascript"></script>
    <script src="/lib/signalr.js" type="text/javascript"></script>
    <script>
        var connection;
        var app = new Vue({
            el: '#app',
            data: {
                scopeContexts:[],
                connectionObj: {
                    connections: [],
                    offlineCount: 0,
                    onlineCount: 0,
                    totalCount: 3
                },
                current: {
                    scopeId: '',
                    clientId: '',
                    userId: ''
                },
                filterObj: {
                    scopeId: ''
                }
            },
            methods: {
                //清空scope
                resetScope: function (scopeId) {
                    var url = '/api/hub/resetScope?scopeId=' + scopeId;
                    fetch(url)
                        .then(response => response)
                        .then(data => this.getScopeContexts());
                },
                //跟新scope
                updateScope: function (scopeId) {
                    const url = '/api/hub/updateScope?scopeId=' + scopeId;
                    fetch(url, {
                        method: 'get',
                    }).then(response => response)
                        .then(data => this.getScopeContexts())
                        .catch(error => console.log("error is: ", error));
                },
                //获取scopes
                getScopeContexts: function () {
                    let url = '/api/hub/GetScopeContexts';
                    fetch(url, {
                        method: 'get',
                        headers: { 'Content-Type': 'application/json' }
                    }).then(response => response.json())
                        .then(data => {
                            this.scopeContexts = data;
                        })
                        .catch(error => console.log("error is: ", error));
                }
            },
            created() {
                this.getScopeContexts();
            },
            computed: {
                scopes: function () {
                    let scopes = this.connectionObj.connections.map(function (item) {
                        return item["scopeId"];
                    });
                    //去重
                    return [...new Set(scopes)];
                },
                computedConnections: function () {
                    if (!this.filterObj.scopeId) {
                        return this.connectionObj.connections;
                    }
                    return this.connectionObj.connections.filter(item => item.scopeId == this.filterObj.scopeId);
                }
            },
            filters: {
                scopeFilter(connections, filterObj) {
                    for (var key in filterObj) {
                        console.log(key);
                    }
                    return connections.filters(item => item.scopeId);
                },
                formatDate(time) {
                    let date = new Date(time);
                    return formatDate(date, 'yyyy-MM-dd hh:mm')
                }
            }
        });

        function formatDate(date, fmt) {
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (date.getFullYear() + '').substr(4 - RegExp.$1.length))
            }
            let o = {
                'M+': date.getMonth() + 1,
                'd+': date.getDate(),
                'h+': date.getHours(),
                'm+': date.getMinutes(),
                's+': date.getSeconds()
            }
            for (let k in o) {
                if (new RegExp(`(${k})`).test(fmt)) {
                    let str = o[k] + ''
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? str : padLeftZero(str))
                }
            }
            return fmt
        }
        function padLeftZero(str) {
            return ('00' + str).substr(str.length)
        }
    </script>
</body>
</html>


