<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>连接状态管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../../css/index.css" rel="stylesheet" />
    <script src="../../lib/signalr.js"></script>
    <script src="../../lib/vue.js"></script>
    <script src="../../lib/jquery-3.2.1.js"></script>
</head>
<body>
    <div class="wrapper" id="app">
        <div class="container">
            <h2>ScopeId: <span>  {{ currentScopeId }}</span></h2>
            <h2>ClientId: <span>  {{ currentClientId }}</span></h2>
            <h2>State: <span>  {{ currentState }}</span></h2>
            <h2>Message: <span>  {{ currentMessage }}</span></h2>
            <h2>Notify: <span>  {{ currentNotify }}</span></h2>
            <hr />
            <div class="select-bar">
                <div class="select-label">筛选：</div>
                <div class="select-wraper">
                    <select class="select-item form-control">
                        <option value="1" selected disabled>教室</option>
                        <option value="2">教室1</option>
                        <option value="3">教室2</option>
                    </select>
                    <select class="select-item form-control">
                        <option value="1" selected disabled>名称</option>
                        <option value="2">pc</option>
                        <option value="3">ipad</option>
                    </select>
                    <select class="select-item form-control">
                        <option value="1" selected disabled>设备IP</option>
                        <option value="2">192.168.1.22</option>
                        <option value="3">192.168.1.23</option>
                    </select>
                </div>
                <div>
                    <input type="button" class="btn btn-primary" id="btnUpdateMessage" value="UpdateMessage" />
                    <input type="button" class="btn btn-primary" id="btnUpdateState" value="UpdateState" />
                    <input type="button" class="btn btn-primary" id="btnUpdateConnections" value="UpdateConnections" />
                </div>
            </div>

            <h4 class="head">
                <span class="title">筛选的内容：</span>
                <button type="button" class="btn btn-info" @click="changeLayout">{{changeLayoutText}}</button>
            </h4>
            <transition name="fade" mode="out-in">
                <!--table-->
                <table class="table table-bordered table-striped" v-if="isTableLayout" key="table">
                    <thead>
                        <tr>
                            <th>课程</th>
                            <th>客户端</th>
                            <th>连接时间</th>
                            <th>上次更新状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in clientConnections">
                            <td>
                                {{item.scopeGroupId}}
                            </td>
                            <td>
                                {{item.clientId}}
                            </td>
                            <td>
                                {{item.createAt}}
                            </td>
                            <td>
                                <span class="label success">{{item.lastUpdateAt}}</span>
                            </td>
                        </tr>
                </table>
                <!-- panel布局 -->
                <div v-else="!isTableLayout" class="panel-wrapper" key="poanel">
                    <div class="panel panel-default" v-for="item in clientConnections">
                        <div class="panel-heading">
                            <h3 class="panel-title"> <span class="label success">连接中</span></h3>
                        </div>
                        <div class="panel-body">
                            <h4>大屏设备</h4>
                            <ul class="list-unstyled">
                                <li>{{item.scopeGroupId}}</li>
                                <li>{{item.clientId}}</li>
                                <li>{{item.createAt}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>
    <script type="text/javascript">

    var app = new Vue({
        el: '#app',
        data: {
            clientConnections: [],
            currentMessage: 'Hello',
            currentState: 'Foo',
            currentNotify: '',
            currentScopeId: '',
            currentClientId: '',
            isTableLayout: true // 默认表格布局
        },
        created: function () {
            this.connect();
        },
        mounted: function () {
        },
        computed: {
            changeLayoutText() {
                if (this.isTableLayout) {
                    return 'table布局';
                } else {
                    return 'panel布局';
                }
            }
        },
        methods: {
            updateMonitorInvokeInfo: function (args) {
                console.log('updateMonitorInvokeInfo', args);
            },
            updateMessage: function (args) {
                console.log('call updateMessage', args);
                this.currentMessage = args.message;
            },
            updateState: function (args) {
                console.log('call updateState', args);
                this.currentState = args.state;
            },
            updateConnections: function (args) {
                console.log('call updateConnections', args);
                if (args.clientConnections) {
                    this.clientConnections = args.clientConnections;
                }
            },
            notify: function (args) {
                console.log('call notify', args);
                this.currentNotify = args.message;
            },
            connect: function () {
                var _this = this;

                var scopeId = "monitor_scope";
                var clientId = "monitor_client";
                this.currentScopeId = scopeId;
                this.currentClientId = clientId;

                var hubName = "DemoHub";
                var connectionHub = new signalR.HubConnectionBuilder()
                    .withUrl('/' + hubName + '?scopeId=' + scopeId + '&clientId=' + clientId)
                    .build();

                connectionHub.on("updateMonitorInvokeInfo", function (theArgs) {
                    updateMonitorInvokeInfo(theArgs);
                });

                connectionHub.start()
                    .then(function () {
                        console.log("与服务器连接成功");
                        document.getElementById('btnUpdateMessage').addEventListener('click', function (event) {

                            var ticks = ((new Date().getTime() * 10000) + 621355968000000000);
                            var theArgs = {
                                method: "updateMessage",
                                methodArgs: { message: '[' + ticks + ']' },
                                bags: {
                                    foo: "foo"
                                }
                            };
                            connectionHub.invoke(clientInvoke, theArgs);
                            event.preventDefault();
                        });
                        document.getElementById('btnUpdateState').addEventListener('click', function (event) {

                            var ticks = ((new Date().getTime() * 10000) + 621355968000000000);
                            var theArgs = {
                                method: "updateState",
                                methodArgs: { state: '<' + ticks + '>' },
                                bags: {
                                    bar: "bar"
                                }
                            };
                            connectionHub.invoke(clientInvoke, theArgs);
                            event.preventDefault();
                        });
                        document.getElementById('btnUpdateConnections').addEventListener('click', function (event) {

                            var ticks = ((new Date().getTime() * 10000) + 621355968000000000);
                            var theArgs = {
                                method: "btnUpdateConnections",
                                methodArgs: { state: '<' + ticks + '>' },
                                bags: {
                                    bar: "bar"
                                }
                            };

                            //connectionHub.invoke(invokeClientStub, theArgs);
                            connectionHub.invoke("KickClient", theArgs);
                            event.preventDefault();
                        });
                    })
                    .catch(error => {
                        console.error(error.message);
                    });
            },
            changeLayout(layoutName) {
                this.isTableLayout = !this.isTableLayout;
            }
        }
    })
    </script>
</body>
</html>
